{
    "primary_keys": [
        "ID"
    ],
    "editable_column_names": [
        "Matched Entity"
    ],
    "linked_records_count": 1,
    "linked_record_name_1": "Matched Entity",
    "linked_record_ds_name_1": "entities_ext",
    "linked_record_key_1": "ID",
    "linked_record_label_column_1": "Name",
    "linked_record_lookup_columns_1": [
        "Country",
        "Industry"
    ],
    "notes_column_required": true,
    "notes_column_display_name": "Comments",
    "validation_column_required": true,
    "validation_column_display_name": "Validated",
    "freeze_editable_columns": false,
    "group_column_names": [
        "Country",
        "Industry"
    ],
    "authorized_users": [],
    "editschema": []
}