@font-face {
    font-family: SourceSansPro;
    src: url(SourceSansPro-Bold.woff);
    font-weight: 600;
}
@font-face {
    font-family: SourceSansPro;
    src: url(SourceSansPro-Semibold.woff);
    font-weight: 500;
}
@font-face {
    font-family: SourceSansPro;
    src: url(SourceSansPro-Regular.woff);
    font-weight: 400;
}

body {
    margin: 50px 100px;
}

body, button.tabulator-page, select.tabulator-page-size, input[type=search] {
    font-family: 'SourceSansPro';
}

#debug {
    display: none;
    background-color: #eee;
    color: #999;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2em
}

.tabulator .tabulator-footer .tabulator-page.active {
    color: #05a89d;
}

.tabulator-row.tabulator-selectable {
    background-color: white;
}

.tabulator-row.tabulator-selectable.tabulator-selected {
    background-color: #05a89d !important;
}

input[type=search] {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(187, 187, 187);
}
