@font-face {
    font-family: SourceSansPro;
    src: url(SourceSansPro-Bold.woff);
    font-weight: 600;
}
@font-face {
    font-family: SourceSansPro;
    src: url(SourceSansPro-Semibold.woff);
    font-weight: 500;
}
@font-face {
    font-family: SourceSansPro;
    src: url(SourceSansPro-Regular.woff);
    font-weight: 400;
}

body {
    padding: 20px;
    background-color: rgb(242, 242, 242);
}

body, button, select.tabulator-page-size, input[type=search] {
    font-family: 'SourceSansPro' !important;
}

.tabulator {
    font-size: 13px !important;
    line-height: 25px !important;
    margin: 0;
}

.tabulator-arrow {
    right: 0;
    top: 0.75em;
    position: absolute;
}

.tabulator-row {
    border: none !important;
}

.tabulator-row .tabulator-cell {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    margin: 0 !important;
}

.tabulator .tabulator-header {
    font-weight: 500;
}

.tabulator .tabulator-footer, .tabulator .tabulator-header .tabulator-col {
    background-color: white;
}

.tabulator .tabulator-footer, .tabulator .tabulator-header .tabulator-col:hover {
    background-color: rgb(245, 245, 245) !important;
}

.tabulator .tabulator-footer .tabulator-page.active {
    color: #28a9dd;
}

.tabulator-row.tabulator-selectable.tabulator-row-odd {
    background-color: white;
}

.tabulator-row.tabulator-selectable.tabulator-row-even {
    background-color: rgb(245, 245, 245) !important;
}

.tabulator-row.tabulator-selectable.tabulator-row-odd .tabulator-editable {
    background-color: #E9F3FE;
}

.tabulator-row.tabulator-selectable.tabulator-row-even .tabulator-editable {
    background-color: #D7E8FD;
}

.tabulator-row.tabulator-selectable:hover {
    background-color: #a5d6a7 !important;
}

.tabulator-row.tabulator-selectable.tabulator-selected {
    background-color: #a5d6a7 !important;
    /* background-color: rgb(76, 175, 80) !important;
    color: white !important; */
}

.tabulator-row.tabulator-selectable:hover .tabulator-editable {
    background-color: #A7CBFA !important;
}

.tabulator-cell.tabulator-editable:hover {
    color: white;
}

.tabulator-row.tabulator-selectable.tabulator-selected .tabulator-editable {
    background-color: hsl(214, 89%, 82%) !important;
    /* background-color: rgb(76, 175, 80) !important;
    color: white !important; */
}

.linked-record {
    background-color: hsla(215, 38%, 66%, 0.2) !important;
    border-radius: 9999px;
    padding: 0 10px;
}

.column-type {
    font-size: 10px;
    font-weight: normal;
    font-family: 'Monaco';
    color: rgb(102, 102, 102);
}

input[type=search] {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(187, 187, 187);
}

#debug {
    display: none;
    background-color: #eee;
    color: #999;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2em
}