.journal
.mainlock
.wlock
.ts
.git
*.pyc
.coverage
.htmlcov
.DS_Store
.idea
**/.build_cache
**/node_modules
*.log
.vscode/launch.json
webapps/visual-edit/assets/dashExtensions_default.js
webapp-settings/*.json
venv/
tests/venv/
tests/.vscode/*
!tests/.vscode/settings.json.example
!tests/.vscode/launch.json.example
.venv
venv
tests-results/
dist/