include dash_tabulator/dash_tabulator.dev.js
include dash_tabulator/dash_tabulator.dev.js.map
include dash_tabulator/async-*.js
include dash_tabulator/async-*.js.map
include dash_tabulator/*-shared.js
include dash_tabulator/*-shared.js.map
include dash_tabulator/metadata.json
include dash_tabulator/package-info.json
include README.md
include LICENSE
include package.json
