{
    "cucumberautocomplete.steps": [
        "features/**/*.py",
        "<YOUR_VENV>/lib/python3.10/site-packages/dssgherkin/steps/**/*.py"
    ],
    "cucumberautocomplete.strictGherkinCompletion": true,
    "editor.quickSuggestions": {
        "comments": false,
        "strings": true,
        "other": true
    },
    "files.associations": {
        "*.feature.template": "feature",
        "*.json.template": "json",
        "*.json.example": "jsonc"
    }
}