{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Current behave file",
            "type": "debugpy",
            "request": "launch",
            "module": "behave",
            "console": "integratedTerminal",
            "args": [
                "--no-logcapture",
                "--logging-level=DEBUG",
                "${file}"
            ],
            "justMyCode": false,
            "env": {
                "DKU_WEBAPP_RUN_IDS": "<webappId>:<runId>,<webappId>:<runId>",
                "DKU_WEBAPP_COOKIE": "tofill"
            }
        }
    ]
}