{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Current behave file",
            "type": "debugpy",
            "request": "launch",
            "module": "behave",
            "console": "integratedTerminal",
            "args": [
                "--no-logcapture",
                "--logging-level=DEBUG",
                "${file}"
            ],
            "justMyCode": false,
            "env": {
                // "DSS_USERNAME": "",
                // "DSS_PASSWORD": "",
                // "DKU_DSS_URL": "Optional: if not set will use configuration in .dataiku/config.json",
                // "DKU_API_KEY": "Optional: if not set will use configuration in .dataiku/config.json"
            }
        }
    ]
}