{
    "cucumberautocomplete.steps": [
        "features/**/*.py",
        "venv/lib/python3.10/site-packages/dssgherkin/steps/**/*.py"
    ],
    "cucumberautocomplete.strictGherkinCompletion": true,
    "editor.quickSuggestions": {
        "comments": false,
        "strings": true,
        "other": true
    }
}