{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Python: Current File",
            "type": "python",
            "request": "launch",
            "program": "${file}",
            "console": "integratedTerminal",
            "justMyCode": true,
            "env": {
                "PYTHONPATH": "python-lib",
                "DKU_CURRENT_PROJECT_KEY": "REPLACE_ME",
                "ORIGINAL_DATASET": "replace_me"
        },
        {
            "name": "Webapp",
            "cwd": "webapps/edit-dataset-records/",
            "type": "python",
            "request": "launch",
            "module": "flask",
            "env": {
                "FLASK_APP": "backend.py",
                "FLASK_ENV": "development",
                "PYTHONPATH": "../../python-lib",
                "DKU_CURRENT_PROJECT_KEY": "REPLACE_ME",
                "ORIGINAL_DATASET": "replace_me"
            },
            "args": [
                "run",
                "--no-debugger", // this is used to disable the flask built-in debugger so that it doesn't interfere with the VS Code debugger - see https://flask.palletsprojects.com/en/2.2.x/debugging/
                "--port",
                "8000"
            ],
            "jinja": true,
            "justMyCode": true
        }
    ]
}