-r requirements.txt
dataiku-api-client
ipykernel
mkdocstrings-python
mkdocs-material
dataiku-internal-client @ https://design.solutions.dataiku-dss.io/public/packages/dataiku-internal-client.tar.gz
pytest==8.3.4